.App {
	background: url(../images/background.png) center center;
  display: flex;
  flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
}

/* main page */
.ui.container.main-container {
	margin-top: 0.5em;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* nav bar */
#navBar {
	padding: 12px;
	width: 75%;
}

.ui.secondary.menu .item {
	color: white;
	letter-spacing: 2px;
}

.ui.secondary.menu .active.item {
	background: transparent !important;
	border: solid 1px;
	color: white !important;
}

/* search page */
.ui.container .search-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

/* search input container */
.ui.container .search-input-container {
	background-image: url(../images/background.png);
	background-size: cover;
	border-radius: 45px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 60em;
	letter-spacing: 2px;
	color: white;
	height: fit-content;
}

.ui.input #search {
	width: 34em !important;
	height: 2em !important;
	text-align: center !important;
}

/* search results for explore page */
.ui.container .searched-result-container {
	margin-top: 2em;
	text-align: center;
	align-items: center;
	width: 60%;
	height: 100%;
	border-radius: 45px;
	padding: 1em;
}

.container::-webkit-scrollbar { 
	display: none;
}

.type-tag {
	position: absolute;
	left: -23.7em;
	top: 4.2em;
}

.result-name {
	text-transform: uppercase;
	background: lightsteelblue;
	width: auto;
	padding: 10px;
	letter-spacing: 2px;
	color: white !important;
	border-radius: 10px;
}

.blue-labels {
	text-transform: uppercase;
	background: lightsteelblue;
	width: fit-content;
	padding: 10px;
	letter-spacing: 2px;
	color: white;
	border-radius: 10px;
}

.result-desc {
	background :lightsteelblue;
	padding: 15px;
	color: black;
	letter-spacing: 0.2px;
	border-radius: 10px;
	width: 650px;
}

.add-to-wl {
	right: 36em;
}

#rec-card {
	height: 28em;
	margin: 15px;
	justify-content: space-between;
}

.rec-tag {
	position: absolute !important;
	top: 6px !important;
	left: -15.5px !important;
}

.rec-to-wl {
	position: absolute;
	top: 6px;
	right: 6px;
}

#modal {
	text-align: center;
}

#modal-header {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

/* search results for home page */
.ui.container #rec-cards-container {
	margin-top: 2em;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: center;
	width: 90%;
}

#result-name-desc {
	background-color: black;
	font-size: 11px;
}

.card-description {
	font-size: 11px !important;
}

.see-more {
	position: absolute;
	bottom: 15px;
	left: 80px;
	letter-spacing: 2px;
}

/* my wavelength */
.ui.container #my-wl-container {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: center;
	width: 100em;
}

.ind-type-tag {
	left: -32.5em !important;
	top: 2em !important;
}

#search-to-wl {
	position: relative;
	left: 30em;
	top: -7em;
}

#search-card-result {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: white;
	width: 60em;
	height: fit-content;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.my-wavelength-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#web {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#all {
	background-color: #d63031;
	color: white;
}

#music {
	background-color: #e17055 !important;
	color: white;
}

#movies {
	background-color: #fdcb6e;
	color: white;
}

#shows {
	background-color: #00b894;
	color: white;
}

#podcasts {
	background-color: #74b9ff;
	color: white;
}

#books {
	background-color: #0984e3;
	color: white;
}

#games {
	background-color: #6c5ce7;
	color: white;
}

.ui.ribbon.label:after {
	border-right-color: black !important;
}
