.App {
	background: url(../images/background.png) center center;
	
  display: flex;
  flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
}

/* main page */
.ui.container.main-container {
	margin-top: 1em;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* nav bar */
#navBar {
	background-color: lightsteelblue;
	padding: 12px;
	width: 100%;
	height: 3em;
}

.ui.secondary.menu .item {
	color: white;
	letter-spacing: 2px;
}

/* search page */
.ui.container .search-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* search input container */
.ui.container .search-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	color: white;
}

.ui.input #search {
	width: 40em !important;
	text-align: center !important;
}

/* search results for explore page */
.ui.container .searched-result-container {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	overflow-y: scroll;
	border: solid 0.5px aliceblue;
	height: 70vh;
	border-radius: 45px;
	padding: 1em;
	color: white;
}

.container::-webkit-scrollbar { 
	display: none;
}

.type-tag {
	position: absolute;
	right: 40em;
	top: -4em;
}

.result-name {
	text-transform: uppercase;
	background: lightsteelblue;
	width: auto;
	padding: 10px;
	letter-spacing: 2px;
	color: white !important;
	border-radius: 10px;
	margin-bottom: -6px;
}

.result-desc {
	background :lightsteelblue;
	padding: 15px;
	color: black;
	letter-spacing: 0.2px;
	border-radius: 10px;
}

.add-to-wl {
	right: 35em;
}

#rec-card {
	height: 30em;
	margin: 15px;
	justify-content: space-between;
	overflow-y: scroll;
}

#rec-tag {
	position: absolute;
	top: 6px;
	left: 6px;
}

.rec-to-wl {
	margin:10px !important
}

/* search results for explore page */
.ui.container #rec-cards-container {
	margin-top: 4.5em;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: center;
	align-self: center;
	overflow-y: scroll;
	border: solid 0.5px aliceblue;
	height: 100vh;
	border-radius: 45px;
	padding: 2em;
}


#small-desc {
	font-size: 10px;
}

#rec-greeting {
	position: absolute;
}